<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Payement was <em>"need to add the status of the payment"</em></h1>
      <h2>You can pick up you food at <em>Need to do an address set_active function !</em></h2>
      <div class="map">Need to add a map here</div>
    </div>
  </div>
</div>
