// Define variables for your color scheme

// For example:
$red: #FD8581;
$blue: #649EC7;
$light-blue: #2CA8FF;
$yellow: #FDB631;
$orange: #FDB631;
$green: #1CD98D;
$green-darker: #2da487;
$gray: #999999;
$light-gray: #F4F4F4;
$gray-dark: #424444;

//#469AE0;
