.truck-dashboard {
  padding: 50px;
  display: block;


  .calendar-section {
    height: 540px;
  }
  .meals-section {
    padding: 20px;
    width: 100%;
    height: 540px;
  }
  .locations-section {
    padding: 20px;
    height: 540px;
  }
}
