<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= month_calendar events: @calendars do |date, calendars| %>
        <%= date %>
        <% calendars.each do |calendar| %>
          <%= calendar.address.street_address unless calendar.address.nil? %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
