<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-5 col-sm-offset-4">
      <div class="truck-form">
      <h1>Edit the truck</h1>
      <%= render 'shared/form_new_truck' %>
    </div>
    </div>
  </div>
</div>

