<%= render 'shared/banner' %>
<div class="container">
  <div class="row">
    <ul>
      <% @trucks.each do |truck| %>
      <li>
        <p><%= link_to truck.name, truck_path(truck) %></p>
        <% truck.photos.each do |photo| %>
          <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
        <% end %>
        <p><%= truck.type_of_food %></p>
      </li>
      <% end %>
    </ul>
  </div>
</div>
