<h1 class="text-center">Here are all the trucks you can see</h1>
<div class="container">
  <div class="row">
      <% @trucks.each do |truck| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <%= render 'shared/truck_card', truck: truck %>
        </div>
      <% end %>
  </div>
</div>






