<h1>Index (future search results)</h1>
<div class="container">
  <div class="row">
    <ul>
      <% @trucks.each do |truck| %>
      <li>
        <p><%= link_to truck.name, truck_path(truck) %></p>
        <p><%= truck.type_of_food %></p>
      </li>
      <%= link_to "Delete", truck_path(truck),
      method: :delete,
      data: { confirm: "Are you sure?" } %>

      <% end %>
    </ul>
  </div>
</div>






