<div id="map" style="width: 100%; height: 600px;"></div>
<div class="container">
  <div class="row">
      <% @trucks.each do |truck| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <%= render 'shared/truck_card', truck: truck %>
        </div>
      <% end %>
  </div>
</div>


<% content_for(:after_js) do %>
<script>
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' } }, function() {
      markers = handler.addMarkers(<%= raw @markers.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      }
    });
</script>
<% end %>



