<h1>Here are all the trucks</h1>


<div class="container">
  <div class="row">
    <% @trucks.each do |truck| %>
    <%= truck.name %>
    <%= truck.type_of_food %>
     </div>
    <% end %>
  </div>
</div>




