<h1 class="text-center">Index (future search results)</h1>
<div class="container">
  <div class="row">
    <ul>
      <% @trucks.each do |truck| %>
      <li>
        <p><%= link_to truck.name, truck_path(truck) %></p>
        <p><%= truck.type_of_food %></p>
      </li>
      <% end %>
    </ul>
  </div>
</div>






