<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="truck-form">
      <h1>Add a new truck</h1>
      <%= render 'shared/form' %>
      </div>
    </div>
  </div>
</div>


