<div>
  <%= render 'shared/banner_truck', truck: @truck %>
</div>
<div class="container">
  <div class="row">
    <!-- <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1><%#= @truck.name %></h1>
      <p><%= @truck.type_of_food %></p>
      <%# @truck.photos.each do |photo| %>
        <%#= cl_image_tag photo.path, width: 100, height: 200, crop: :fill %>
      <%# end %>
    </div> -->
  </div>
  <div class="row">
    <div class="col-xs-12">
      <% @tables.each do |table| %>
        <%= render 'shared/show_page_table', table: table %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="btn-show text-center">
        <% unless @basket.nil? %>
          <%= link_to "Order", truck_basket_path(@truck, @basket), class:"btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

