<div>
  <%= render 'shared/banner_truck', truck: @truck %>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-12">
        <h2 class="text-center">Meals list</h2>
      </div>
      <div class="col-md-10 col-md-offset-1">
        <div class="table-responsive">
          <table class="table table-meals">
            <thead>
              <tr>
                <th class="text-center"></th>
                <th class="th-description">Description</th>
                <th class="text-right">Price</th>
                <th class="text-right">Add a meal</th>
                <th></th>
              </tr>
            </thead>
            <tbody></tbody>
            <% @tables.each do |table| %>
            <%= render 'shared/show_page_table', meal: table[:meal], choice: table[:choice] %>
            <% end %>
          </table>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="btn-show text-center">
          <% unless @basket.nil? %>
          <%= link_to "Order", truck_basket_path(@truck, @basket), class:"btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

