<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-login">
        <h4>Update your profile</h4>
        <%= render 'shared/form_new_user' %>
      </div>
    </div>
  </div>
</div>
