<div class="yellow-box">
  <h5> Hey <%= @user.first_name %>, <br> here are your current orders !</h5>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">

      <div class="message-order">
        <% @user.baskets.order(:status).each do |basket| %>
        <%= render 'shared/list_user_orders', basket: basket %>
        <% end %>
      </div>
    </div>
  </div>
</div>


