


<div class="banner">
  <div class="banner-content">
    <h1>Follow The Food Truck</h1>
    <p>Eat outside !</p>
    <div class="search-form-wrapper hidden-sm hidden-md hidden-lg" style="color: gray">
      <form action="<%= trucks_path %>" method="get" class="form-inline" for="flat_address">
        <%= text_field_tag :city_user, params[:city_user], id:"food_truck_address", :autofocus => true, required: false, class:"text-left search-navbar" %>
        <br>
        <br>
        <%= submit_tag "Search", :name => nil, class: "btn ftft-btn btn-danger", style:"margin-bottom : 0px;" %>
      </form>
    </div>
  </div>
</div>





