<%= month_calendar events: @calendars do |date, calendars| %>
  <div class="has-events">
  <h1> <%= date.day%></h1>
  <% calendars.each do |calendar| %>
    <p><%= calendar.address.street_address unless calendar.address.nil? %></p>
  </div>
  <% end %>
<% end %>
