  <div class="truck-card">
    <div class="image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=cl_image_path truck.photos.first.path, height: 300, width: 400, crop: :fill unless truck.photos.first.nil? %>')">
    </div>
    <div class="content">
      <%= link_to truck.name, truck_path(truck), class: "title" %>
      <div class="footer">
        <!-- TODO: what should we add here? -->
        <div class="info pull-left">
          <%= truck.type_of_food %>
        </div>
        <div class="info pull-left">
          <p>€</p>
        </div>
        <div class="pull-right">
          <!-- TODO: implement dynamic likes -->
          <a class="card-link" href="#">
            <i class="fa fa-heart"></i> 4
          </a>
        </div>
      </div>
      <%= link_to "", truck_path(truck), class: "card-link" %>
    </div>
  </div>
