.ftft-btn {
  margin-bottom: 15px;

}

.ftft-color{
  background-color: $btn-color-main;
  text-decoration: none;
  color: white;
}

.ftft-color:hover {
  background-color: $btn-color-main-darker;
  text-decoration: none;
  color: white;
}

.ftft-plus{
  color: $green;
}

.ftft-plus:hover{
  color: $green-darker;
}

.ftft-minus{
  color: $btn-color-main;
}

.ftft-minus:hover{
  color: $btn-color-main-darker;
}

.ftft-choice{

}

.ftft-choice:hover{
  text-decoration: none;
  opacity: 0.7;
}
