.form-login {
  background: $light-gray;
  padding: 8%;
  margin-top: 50px;
  border-radius: 3px;
  border: 1px solid #FFF;

  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
    color: #4A4A4A;
  }
  label {
    color: #4A4A4A;
  }
  .full-width{
    width: 100%;
  }
  .btn-danger {
    background: $btn-color-main;
  }

  .footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #4A4A4A;
    line-height: 19px;
    border: 0 !important;
    box-shadow: none;
  }
}

