.photo-full-width {
  width: 100%;
}

.photo-height {
  height: 380px;
}

.img-meal-wrapper {
  margin: 0px 0px;
  overflow: hidden;
}

.big-image {
  height: 380px;
}

.small-image {
  height: 200px;
}
