.simple-calendar {
  .day {
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {
    h1{
    font-size: 12px;
    margin:0;
    padding:0;
    text-align: center;
    }

    p{
      font-size: 8px;
      margin-top: 5px;
    }
  }
}

.calendar-heading{
  a {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: $btn-color-main;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 3px 12px;
    font-size: 18px;
    line-height: 1.428571429;
    border-radius: 2px;
    text-decoration: none;
    color: white;
  }
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom: 8px;
  font-size: 20px;
}

.calendar-title{
  margin-left: 10px;
  margin-right: 10px;
}

.table thead tr {
  th{
    font-size:12px;
    text-align: center;
    background-color: $btn-color-main;
    opacity:0.8;
    color:white
  }
}
